@import "tailwindcss";

:root {
  /* Colores para el modo CLARO */
  --background: 255 255 255; /* Blanco */
  --foreground: 0 0 0;       /* Negro */
  --card-background: 229 231 235; /* Gris claro */
  --card-foreground: 23 23 23;      /* Gris muy oscuro */
  --color-background: blue;
}

.dark {
  /* Colores para el modo OSCURO */
  --background: 0 0 0;       /* Negro */
  --foreground: 255 255 255; /* Blanco */
  --card-background: 17 24 39;  /* Azul oscuro */
  --card-foreground: 240 240 240;   /* Gris claro */
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

/* /components/sections/FeatureCard.module.css */
.card {
  /* Estilos para el modo CLARO */
  background-color: #f3f4f6; /* Gris 200 de Tailwind */
  border: 2px solid #1f2937;  /* Gris 800 de Tailwind */
  color: #111827;           /* Gris 900 de Tailwind */
  transition: all 0.3s ease-in-out;
}

.dark .card {
  /* Estilos para el modo OSCURO */
  background-color: #111827; /* Gris 900 de Tailwind */
  border-color: #f9fafb;     /* Gris 50 de Tailwind */
  color: #f9fafb;            /* Gris 50 de Tailwind */
}

.boton-hero{
  /* Estilos para el modo CLARO */
  background-color: #f3f4f6; 
  border: 2px solid #1f2937; 
  color: #111827;           
  transition: all 0.3s ease-in-out;
}

.dark .boton-hero{
  /* Estilos para el modo CLARO */
  background-color: black; 
  border: 2px solid white; 
  color: #ffff;           
  transition: all 0.3s ease-in-out;
}

.boton2-hero:hover{
  background-color: rgb(var(--foreground)) ;
  color : rgb(var(--background))
}

.sub-hero {
  background-color: #ffff;
}

.dark .sub-hero{
  background-color: black;
}